<div class="recettes-g">
  <center class="recipes-head">
    <div class="recipe-titre">
        <h3>Recettes</h3>
      <div class="recipe-link">
        <p><%= link_to 'Ajouter', new_recipe_path, remote:true %></p>
        <p><%= link_to 'retour', admin_path, remote:true  %></p>
      </div>
    </div>
    <form  data-remote="true" id="form1" action='<%= recipes_path %>' accept-charset="UTF-8" method="get">
      <input id='nom' name="nom" placeholder="Rechercher" onkeyup="su()">
      <input id='sub' style="display: none" type="submit">
    </form>
  </center>
  <div>
    <div class="recipes-corps">
      <% @recipes.each do |recipe| %>
        <div class="recipe">
          <a href=<%= recipe_path(recipe.id) %>>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src=<%= recipe.picture_url(:mini) %> alt="Card image cap" style="width: 10rem;"></img>
              <div class="card-body">
           		<h5 class="card-title"><%= recipe.name %></h5>
          </a>
              <p class="card-text">crée par <%= User.find(recipe.user_id).username %>
            	<p class="card-text"><%= recipe.description %></p>
          	  </div>
          		<ul class="list-group list-group-flush">
            	  <li class="list-group-item"><%= recipe.time %></li>
            	  <% if recipe.price %><li class="list-group-item"><%= (recipe.price) / 100 %> €</li><% end %>
            	  <li class="list-group-item">...</li>
          		</ul>
          		<div class="card-body">

                <%= form_tag add_to_list_path, method: 'post' do %>
                  <%= hidden_field_tag(:recipe_id, recipe.id) %>
                  <%= submit_tag('Ajouter à ma liste') %>
                <% end %>

            	  <a href="#" class="card-link"><%= link_to 'Edit', edit_recipe_path(recipe.id), remote:true %></a>
            	  <a href="#" class="card-link"><%= link_to 'Delete', recipe, remote:true,method: :delete, data: { confirm: 'Non sérieux elle te plait pas ?' } %></a>
          		</div>
        	  </div>
        </div>
  	  <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
document.getElementById('nom').focus();
function su()
{
  document.getElementById('sub').click();
}
</script>
