<div class="recettes-g">
  <center class="recipes-head">
    <div class="recipe-titre">
        <h3>Toutes nos recettes</h3>
      <div class="recipe-link">
        <p><%= link_to 'Créer une recette', new_recipe_path, remote:true %></p>
      </div>
    </div>
    <form  data-remote="true" id="form1" action='<%= recipes_path %>' accept-charset="UTF-8" method="get">
      <input id='nom' name="nom" placeholder="Rechercher" onkeyup="su()">
      <input id='sub' style="display: none" type="submit">
    </form>
  </center>
  <div>
    <div class="recipes-corps">
      <% @recipes.each do |recipe| %>
        <div class="recipe">
          <a href=<%= recipe_path(recipe.id) %>>
            <div class="card" style="width: 100%;">
              <img class="card-img-top" src=<%= recipe.picture_url(:mini) %> alt="Card image cap" style="width: 100%;"></img>
              <div class="card-body">
           		    <h5 class="card-title"><%= recipe.name.capitalize %></h5>
          </a>
                  <span><%= recipe.time %> min - <% if recipe.price %><%= (recipe.price) / 100 %> €<% end %></span>
                <div class='btn-recipe'>
                  <%= form_tag add_to_list_path, method: 'post' do %>
                    <%= hidden_field_tag(:recipe_id, recipe.id) %>
                    <%= submit_tag('Ajouter à ma liste', class: 'btn-submit btn btn-primary') %>
                  <% end %>
                </div>
                <% if user_signed_in? %>
                  <div class='btn-edit-delete'>
                    <%= button_to 'Edit', edit_recipe_path(recipe.id), class: 'btn-submit2 btn btn-warning', remote:true %>
                    <%= button_to 'Delete', recipe, remote:true,method: :delete, class: 'btn-submit2 btn btn-danger', data: { confirm: 'Non sérieux elle te plait pas ?' } %>
                  </div>
                <% end %>
              </div>
        	  </div>
        </div>
  	  <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
document.getElementById('nom').focus();
function su()
{
  document.getElementById('sub').click();
}
</script>
