
<div class="about-g">
<center>
    <h1>Il était une fois Cook'it</h1>
</center>
    <strong>
        <p> Fort de son expérience depuis plus de 3 mois dans le dévelloppement, Cook'it propose ses services en tant qu'outil d'aide a la bonne bouffe. </p>
    </strong>
        <p>De la passion de la groinfrerie à la création d'un site, cook'it est née en 2018 à Lyon. les jours passent et Cook'it ne cesse d'anticiper et de s'adapter aux évolutions de vos envies. Puis en mars, une page se tourne : l'équipe se lance et vous propose un outil pratique et claire pour mieux manger.</p>
        <div class="about-corps">
            <div class="pictures">
                <div class="seb">
		           <p>Seb</p>
                    <p><%= link_to image_tag('chat1.jpeg', class:"logo-about") %></P>
                </div>
                <div class="paul">
		          <p>Paul</p>
                    <%= link_to image_tag('chat3.jpg', class:"logo-about") %></P>
                </div>
                <div class="maxou">
		          <p>Maxou</p>
                    <%= link_to image_tag('chat4.jpg', class:"logo-about") %></P>
                </div>
                <div class="nico">
		          <p>Nico</p>
                    <%= link_to image_tag('chat2.jpeg', class:"logo-about") %></P>
                </div>
            </div>
        <div class="partenaires">
            <strong>
                <p>avec la complicitée de:</p>
            </strong>
            <div class="logos">
                <p><%= link_to image_tag('thp.png', class:"logo-about2") %></P>
                
                <p><%= link_to image_tag('tuba.png', class:"logo-about") %></P>
                
            </div>
        </div>
    </div>
 </div>
