
<div class="about-g">
<center class="about-head">
	<h1>About</h1>
	<p>cette page , c'est nous !</p>
</center>
<center>
    <h1>Il était une fois Cook'it</h1>
</center>
    <strong>
        <p> Fort de son expérience depuis plus de 3 mois dans le dévelloppement, Cook'it propose ses services en tant qu'outil d'aide a la bonne bouffe. </p>
    </strong>
        <p>De la passion de la groinfrerie à la création d'un site, cook'it est née en 2018 à Lyon. les jours passent et Cook'it ne cesse d'anticiper et de s'adapter aux évolutions de vos envies. Puis en mars, une page se tourne : l'équipe se lance et vous propose un outil pratique et claire pour mieux manger.</p>
        <div class="about-corps">
            <div class="pictures">
                <div class="seb">
		           <p>Seb</p>
                    <p><%= link_to image_tag('chat.jpg', :style => "width:100%; height:120px") %></P>
                </div>
                <div class="paul">
		          <p>Paul</p>
                    <%= link_to image_tag('chat.jpg', :style => "width:100%; height:120px") %></P>
                </div>
                <div class="maxou">
		          <p>Maxou</p>
                    <%= link_to image_tag('chat.jpg', :style => "width:100%; height:120px") %></P>
                </div>
                <div class="nico">
		          <p>Nico</p>
                    <%= link_to image_tag('chat.jpg', :style => "width:100%; height:120px") %></P>
                </div>
            </div>
        <div class="partenaires">
            <strong>
                <p>avec la complicitée de:</p>
            </strong>
            <div class="logos">
                <p><%= link_to image_tag('thp.png', :style => "width:100%; height:120px") %></P>
                
                <p><%= link_to image_tag('tuba.png', :style => "width:100%; height:200px") %></P>
                
            </div>
        </div>
    </div>
 </div>
