
	<div>
		<div style='text-align:center;margin-top:35px;font-size:3em'>
			<h1>Bienvenue sur Cook'it</h1>
		</div>

		<div style='text-align:center;font-size:2em'>
			<p>Choisi tes recettes et génère ta liste de course : gagne du temps !</p>
		</div>

		<% if user_signed_in? == false %>
			<div style='text-align:center'>
				<p><%= link_to 'Inscris-toi et deviens un Cooker', new_user_registration_path, class: 'btn btn-primary' %></p>
				<p><%= link_to 'Tu es déjà un Cooker ? Log-toi', new_user_session_path, class: 'btn btn-success' %></p>
			</div>
		<% end %>

		<% if user_signed_in? %>
			<div style='text-align:center'>
				Tu as crée <strong><%= Recipe.where(user_id: current_user.id).count %></strong>
					<% if Recipe.where(user_id: current_user.id).count <= 1 %>
						recette.
					<% else %>
						recettes.
					<% end %>
				Libère ta créativité en <%= link_to 'créant une nouvelle recette.', new_recipe_path, class: 'btn btn-info' %>
			</div>
		<% end %>
	</div>

	<div style='margin-left:35px;margin-top:100px;display:flex;flex-direction:column'>
		<div>
			<div class='btn btn-dark btn-lg'>
				Les dernières recettes ajoutées :
			</div>
			<div style='display:flex; flex-wrap: wrap;'>
				<% Recipe.last(10).reverse.each do |recipe| %>
				  <div class="card">
				    <img class="card-img-top" src=<%= recipe.picture_url(:mini) %> alt="Card image cap"/>
				    <div class="card-hover">
				      <a href=<%= recipe_path(recipe.id) %> class="card-hover-background"></a>
				      <div class='recipe-show-info btn-info'><h6><%= recipe.time %> min - <%= recipe.price  / 100 %>€</h6></div>
				      <h3 class="card-hover-info"><a href=<%= recipe_path(recipe.id) %> style="text-decoration: none; color:white"><%= recipe.name %></a></h3>
				      <div class="card-hover-info">
				        <div class='recipe-show-head'>
				        </div>
				      </div>
				      <div class="card-hover-link">
				        <div>
				          <% if user_signed_in? %>
				            <%= form_tag add_to_list_path, method: 'post' do %>
				              <%= hidden_field_tag(:recipe_id, recipe.id) %>
				              <%= submit_tag('Ajouter à ma liste', class: 'btn-submit btn btn-primary btn-sm') %>
				            <% end %>
				          <% else %>
				            <a data-toggle="modal" data-target="#exampleModal">
				              <%= submit_tag 'Ajouter à ma liste', class: 'btn btn-primary' %>
				            </a>
				          <% end %>
				        </div>
				        <div style="display: flex;">
				          <% if ( user_signed_in? && current_user.rights == 99 ) || ( user_signed_in? && recipe.user_id == current_user.id ) %>
				            <%= link_to 'Edit', edit_recipe_path(recipe.id), class: 'btn-submit2 btn btn-warning btn-sm'%>
				            <%= button_to 'Delete', recipe, remote:true,method: :delete, class: 'btn-submit2 btn btn-danger btn-sm', data: { confirm: 'Non sérieux elle te plait pas ?' } %>
				          <% end %>
				        </div>
				      </div>
				    </div>
				  </div>
				<% end %>
			</div>
		</div>

		<div>
			<div class='btn btn-dark btn-lg' style='margin-top:50px'>
				Les recettes les mieux notées :
			</div>

			<div class='home-recipe'>
				<% r_array = []  %>
				<% Recipe.all.each do |recipe| %>
					<% if recipe.get_upvotes.size > 0 %>
						<% r_array << recipe.id %>
						<% r_array << ( (recipe.get_upvotes.size.to_f) / (recipe.get_upvotes.size.to_f + recipe.get_downvotes.size.to_f) * ( recipe.get_upvotes.size.to_f / 1000.0 )) %>
					<% end %>
				<% end %>
				<% r_array %>
				<% h = Hash[*r_array] %>
				<% h_sort = h.sort_by{|k, v| v}.reverse %>
				<% h_sort.each do |k, v| %>
				  <div class="card" style="max-width: 250px">
				    <img class="card-img-top" src=<%= Recipe.find_by_id(k).picture_url(:mini) %> alt="Card image cap"/>
				    <div class="card-hover">
				      <a href=<%= recipe_path(Recipe.find(k).id) %> class="card-hover-background"></a>
				      <div class='recipe-show-info btn-info'><h6><%= Recipe.find(k).time %> min - <%= Recipe.find(k).price  / 100 %>€</h6></div>
				      <h3 class="card-hover-info"><a href=<%= recipe_path(Recipe.find(k).id) %> style="text-decoration: none; color:white"><%= Recipe.find(k).name %></a></h3>
				      <div class="card-hover-info">
				        <div class='recipe-show-head'>
				        </div>
				      </div>
				      <div class="card-hover-link">
				        <div>
				          <% if user_signed_in? %>
				            <%= form_tag add_to_list_path, method: 'post' do %>
				              <%= hidden_field_tag(:recipe_id, Recipe.find(k).id) %>
				              <%= submit_tag('Ajouter à ma liste', class: 'btn-submit btn btn-primary btn-sm') %>
				            <% end %>
				          <% else %>
				            <a data-toggle="modal" data-target="#exampleModal">
				              <%= submit_tag 'Ajouter à ma liste', class: 'btn btn-primary' %>
				            </a>
				          <% end %>
				        </div>
				        <div style="display: flex;">
				          <% if ( user_signed_in? && current_user.rights == 99 ) || ( user_signed_in? && Recipe.find(k).user_id == current_user.id ) %>
				            <%= link_to 'Edit', edit_recipe_path(Recipe.find(k).id), class: 'btn-submit2 btn btn-warning btn-sm'%>
				            <%= button_to 'Delete', Recipe.find(k), remote:true,method: :delete, class: 'btn-submit2 btn btn-danger btn-sm', data: { confirm: 'Non sérieux elle te plait pas ?' } %>
				          <% end %>
				        </div>
				      </div>
				    </div>
				  </div>
				<% end %>
			</div>
		</div>
	</div>

	<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Connecte toi!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <%= render "layouts/partials/log_message" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
