<center>
	<% @quotes.each do |t| %>
		<div class="form">
			<p><%= t.corps %></p>
			<%= t.source %>
		</div>
		<%= link_to 'Edit', edit_quote_path(t.id), remote:true ,class:"btn btn-secondary" %>
		<%= link_to 'Delete', t, method: :delete,remote:true, data: { confirm: "elle n'etais pas digne de confiance de toute façon !"}, class:"btn btn-primary" %>
	<% end %>
	<p><%= link_to 'new', new_quote_path, class:"btn btn-success", remote:true %></p>
	<%if user_signed_in? %><%= link_to 'return', profil_path(current_user.id), class:"btn btn-sm, btn-secondary" %><% end %>
</center>