<% @ingredients.each do |ingredient| %>
  <div class="card" style="width: 150px; height: 150px; cursor: pointer;">
    <img class="card-img-top" src=<%= ingredient.picture_url(:mini) %> alt="Card image cap" style="position: absolute; z-index: 1">
    <center class="card-body" style="z-index:2">
    <h5 class="card-title"><%= ingredient.name %></h5>
    </center>
    <div class="card-hover">
      <div class="card-hover-background"></div>
      <h5 class="card-hover-info"><%= ingredient.name %></h5>
      <div class="card-hover-link">
        <%= link_to 'Edit', edit_ingredient_path(ingredient.id), remote:true ,class:"btn btn-secondary card-link" %>
        <%= link_to 'Delete', ingredient, method: :delete,remote:true, data: { confirm: 'Certain ?'}, class:"btn btn-primary card-link" %>
      </div>
      <div class="card-hover-info">
        <div><%= ingredient.family %></div>
        <div><%= ingredient.price %>$</div>
      </div>
    </div>
  </div>
<% end %>