<div>
  <h1>Ajouter un ingrédient à la recette <%= @recipe.name %></h1>

  <p>Ingrédients déjà présent(s)<p>
    <% @recipe.ingredients.each do |ing| %>
      <p><%= ing.name %> -
        <%= form_tag delete_ing_recipe_path, method: 'delete' do %>
          <%= hidden_field_tag(:recipe, @recipe.id) %>
          <%= hidden_field_tag(:ingredient, ing.id) %>
          <%= submit_tag('Supprimer') %></p>
        <% end %>
    <% end %>

  <p>Ajouter un ingrédient</p>

    <% @ingredients.each do |ing| %>

      <%= form_tag post_add_ing_recipe_path, method: 'post' do %>
        <%= hidden_field_tag(:recipe, @recipe.id) %>
        <%= hidden_field_tag(:ingredient, ing.id) %>
      <p><%= ing.id %> - <%= ing.name %> - <%= submit_tag('Ajouter') %></p>
      <% end %>

    <% end %>


</div>
