<div>
  <h1>Ajouter un ingrédient à la recette <%= @recipe.name %></h1>

  <p>Ingrédients déjà présent(s)<p>
    <% @recipe.ingredients.each do |ing| %>
      <p><%= ing.name %></p>
    <% end %>

  <p>Ajouter un ingrédient</p>

    <% @ingredients.each do |ing| %>

      <%= form_tag post_add_ing_recipe_path, method: 'post' do %>
        <%= hidden_field_tag(:recipe, @recipe.id) %>
        <%= hidden_field_tag(:ingredient, ing.id) %>
      <p><%= ing.id %> - <%= ing.name %> - <%= submit_tag('Ajouter') %></p>
      <% end %>

    <% end %>


</div>



<!--

<%= form_tag add_ing_recipe_path, method: 'get' do %>
  <%= hidden_field_tag(:recipe, @recipe.id) %>
<p><%= submit_tag('Ajouter un ingrédient à la recette') %></p>
<% end %>


-->
