<div class="recettes-g">
  <div>
    <div class="recipe-link">
      <% if user_signed_in? %>
        <p><%= link_to 'Créer une recette', new_recipe_path, class: 'btn-submit2 btn btn-warning' %></p>
        <% else %>
        <button type="button" class="btn-submit2 btn btn-warning" data-toggle="modal" data-target="#exampleModal">
  Créer une recette
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Connecte toi!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <%= render "layouts/partials/log_message" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <% end %>
      <form  data-remote="true" id="form1" action='<%= recipes_path %>' accept-charset="UTF-8" method="get">
        <input id='nom' name="nom" placeholder="Rechercher" onkeyup="su()">
        <input id='sub' style="display: none" type="submit">
      </form>
    </div>
    <center style="display: flex ; justify-content: center; flex-wrap: wrap;">
        <form  data-remote="true" id="form1" action='<%= recipes_path %>' accept-charset="UTF-8" method="get">
          <button class="btn btn-info" type="button" onclick="su2('0')">Toutes nos recettes</button>
          <input id='0' style="display: none" type="submit">
        </form>
        <% @tags.each do |t| %>
        <form  data-remote="true" id="form1" action='<%= recipes_path %>' accept-charset="UTF-8" method="get">
            <button class="btn btn-info" style="margin-bottom: 5px;" type="button" name="tag" value="<%= t.id %>" onclick="su2(<%= t.id %>)"><%= t.name %></button>
            <input id='<%= t.id %>' style="display: none" type="submit">
        </form>
        <% end %>
    </center>
    <div class="recipes-corps">
      <% @recipes.each do |recipe| %>
          <div class="card">
            <% if recipe.picture_url %><img class="card-img-top" src=<%= recipe.picture_url(:mini) %> width="250px" height="250px"/><% else %><%= image_tag('logo.png' ,size: "250x250") %><% end %>
            <div class="card-hover">
              <a href=<%= recipe_path(recipe.id) %> class="card-hover-background"></a>
              <div class='recipe-show-info btn-info'><h6><%= recipe.time %> min</h6></div>
              <h3 class="card-hover-info"><a href=<%= recipe_path(recipe.id) %> style="text-decoration: none; color:white"><%= recipe.name %></a></h3>
              <div class="card-hover-info">
                <div class='recipe-show-head'>
                </div>
              </div>
              <div class="card-hover-link">
                <div>
                  <% if user_signed_in? %>
                    <%= form_tag add_to_list_path, method: 'post' do %>
                      <%= hidden_field_tag(:recipe_id, recipe.id) %>
                      <%= submit_tag('Ajouter à ma liste', class: 'btn-submit btn btn-primary btn-sm') %>
                    <% end %>
                  <% else %>
                    <a data-toggle="modal" data-target="#exampleModal">
                      <%= submit_tag 'Ajouter à ma liste', class: 'btn btn-primary' %>
                    </a>
                  <% end %>
                </div>
                <div style="display: flex;">
                  <% if ( user_signed_in? && current_user.rights == 99 ) || ( user_signed_in? && recipe.user_id == current_user.id ) %>
                    <%= link_to 'Edit', edit_recipe_path(recipe.id), class: 'btn-submit2 btn btn-warning btn-sm'%>
                    <%= button_to 'Delete', recipe, remote:true,method: :delete, class: 'btn-submit2 btn btn-danger btn-sm', data: { confirm: 'Non sérieux elle te plait pas ?' } %>
                  <% end %>
                </div>
              </div>
            </div>
      	  </div>
  	  <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
document.getElementById('nom').focus();
function su()
{
  document.getElementById('sub').click();
}

function su2(id)
{
  document.getElementById(id).click();
}
</script>