<div class="recettes-g">
  <center>
	<h1>recettes</h1>
  	<input placeholder="Rechercher">
  </center>
  <div class="recettes-onglet">
  	<p><%= link_to "Ajouter", new_recipe_path, class:"link-control" %></p>
  </div>

  <% @recipes.each do |recipe| %>
    <p><%= recipe.name %> - <%= recipe.time %> min - <%= (recipe.price) / 100 %> € - <%= link_to 'Show', recipe_path(recipe.id) %> - <%= link_to 'Edit', edit_recipe_path(recipe.id) %> - <%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Certain ?' } %></p>
  <% end %>
</div>
