<div style="height:100%; display: flex; justify-content: center; align-items: center;">
  <div class="form" style="width: 50%;">
    <h1>Ajouter une recette</h1>

    <%= form_for @recipe, remote:true do |rec| %>
         <%= rec.hidden_field :user_id, value: @user.id %>
      <p><%= rec.text_field :name, placeholder: 'Nom de la recette', class:"form-control" %></p>
      <p><%= rec.text_area :description, placeholder: 'Description de la recette', class:"form-control" %></p>
      <p><%= rec.file_field :picture, placeholder: 'URL de la recette', class:"form-control" %></p>
      <p><%= rec.text_field :time, placeholder: 'Temps de préparation', class:"form-control" %></p>
      <p><%= rec.text_field :price, placeholder: 'Prix moyen', class:"form-control" %></p>

      <p><%= rec.submit 'Ajouter cette recette', class:"form-control" %></p>
    <% end %>
     <p><%= link_to 'Retour aux recettes', recipes_path %></p>
  </div>
</div>




