<div class="home">
  <div>
    <h1><%= @recipe.name %></h1>
    <p><%= @recipe.time %> min - <%= @recipe.price  / 100 %>€</p>

    <p><img src='<%= @recipe.picture_url(:poster) %>'></img></p>

    <p>Ingrédients nécessaire</p>

      <%= form_tag add_ing_recipe_path,remote:true, method: 'get' do %>
        <%= hidden_field_tag(:recipe, @recipe.id) %>
      <p><%= submit_tag('Modifier les ingrédients') %></p>
      <% end %>
      <%= form_tag add_to_list_path, method: 'post' do %>
        <%= hidden_field_tag(:recipe_id, @recipe.id) %>
        <%= submit_tag('Ajouter à ma liste') %>
      <% end %>

    <% @recipe.ingredients.each do |ing| %>
      <p><%= ing.name %></p>
    <% end %>

    <p>Description</p>
    <div class="vote">
      <% if user_signed_in? %>
        <%= link_to like_recipe_path(@recipe), method: :put, remote:true do %>
          Upvote
          <%= @recipe.get_upvotes.size %>
        <% end %>

        <%= link_to dislike_recipe_path(@recipe), method: :put, remote:true do %>
          Downvote
          <%= @recipe.get_downvotes.size %>
        <% end %>
      <% end %>
    </div>
    <p><%= @recipe.description %></p>
    <%= link_to 'Edit', edit_recipe_path(@recipe.id), remote:true %>
    <%= link_to 'Delete', @recipe, remote:true,method: :delete, data: { confirm: 'Non sérieux elle te plait pas ?' } %>
    <p><%= link_to 'Retour aux recettes', recipes_path, remote:true %></p>
  </div>
</div>
<!--<div id='calendar-container'>
  <div id='calendar'></div>
</div> -->
