<div>
  <h1><%= @recipe.name %></h1>
  <p><%= @recipe.time %> min - <%= @recipe.price  / 100 %>€</p>

  <p><img src='<%= @recipe.picture_url(:poster) %>'></img></p>

  <p>Ingrédients nécessaire</p>

    <%= form_tag add_ing_recipe_path, method: 'get' do %>
      <%= hidden_field_tag(:recipe, @recipe.id) %>
    <p><%= submit_tag('Modifier les ingrédients') %></p>
    <% end %>

  <% @recipe.ingredients.each do |ing| %>
    <p><%= ing.name %></p>
  <% end %>

  <p>Description</p>

  <%= link_to like_recipe_path(@recipe), method: :put do %>
  Upvote
  <%= @recipe.get_upvotes.size %>
<% end %>

<%= link_to dislike_recipe_path(@recipe), method: :put do %>
  Downvote
  <%= @recipe.get_downvotes.size %>
<% end %>

  <p><%= @recipe.description %></p>

  <p><%= link_to 'Retour aux recettes', recipes_path %></p>
</div>
<!--<div id='calendar-container'>
  <div id='calendar'></div>
</div> -->
