
  <div class='recipe-show'>
    <div class='recipe-show-left'>

      <div class='recipe-show-head'>
        <%= @recipe.name.capitalize %>
        <span class='recipe-show-info'><%= @recipe.time %> min </span>
        <div style='background-color:white;border-radius:10px 10px 10px 10px;'>
          <div class="recipe-show-tag" >
            <%= render 'tagrecipes/index'%>
          </div>
        </div>
      </div>

      <div class='recipe-show-ing'>
        <div class='recipe-show-list-ing'>
          <% IngredientToRecipe.where(recipe_id: @recipe.id).each do |ing| %>
            <p><%= ing.quantity %> <%= ing.unity %> <%= Ingredient.find(ing.ingredient_id).name %></p>
          <% end %>

          <% if ( user_signed_in? && current_user.rights == 99 ) || ( user_signed_in? && current_user.id == @recipe.user_id ) %>
            <%= form_tag add_ing_recipe_path,remote:true, method: 'get' do %>
              <%= hidden_field_tag(:recipe, @recipe.id) %>
              <p><%= submit_tag('Modifier les ingrédients', class: 'btn btn-secondary') %></p>
            <% end %>
            <%= form_tag new_tagrecipe_path, method: 'get',remote:true do %>
              <%= hidden_field_tag(:recipe_id, @recipe.id) %>
              <p><%= submit_tag('Modifier les tags', class: 'btn btn-secondary') %></p>
            <% end %>
            <div class="tagrecipe" style="display: flex;flex-wrap: wrap; max-width: 300px ; max-height: 500px ; overflow: scroll;"></div>
          <% end %>
        </div>

        <div class='recipe-show-description'>
          <%= @recipe.description %>
        </div>
      </div>


    </div>

    <div class='recipe-show-right'>
      <img src='<%= @recipe.picture_url(:poster) %>' class='recipe-show-picture'></img>

      <div class='recipe-show-list-btn-add'>
        <div class="recipe-show-vote vote">

          <!-- Si l'user est connecté -->
          <% if user_signed_in? %>
            <%= link_to like_recipe_path(@recipe), method: :put, remote:true do %>
              <%= image_tag 'thumbs_up-64.png' %>
              <%= @recipe.get_upvotes.size %>
            <% end %>

            <%= link_to dislike_recipe_path(@recipe), method: :put, remote:true do %>
              <%= image_tag 'thumbs_down-64.png' %>
              <%= @recipe.get_downvotes.size %>
            <% end %>
          <% end %>

          <!-- Si l'user n'est pas connecté -->
          <% if user_signed_in? == false %>
            <a data-toggle="modal" data-target="#exampleModal">
              <%= image_tag 'thumbs_up-64.png' %>
              <%= @recipe.get_upvotes.size %>

              <%= image_tag 'thumbs_down-64.png' %>
              <%= @recipe.get_downvotes.size %>
            </a>
          <% end %>
        </div>

        <div class='recipe-show-btn'>
          <% if user_signed_in? %>
            <div style='margin-bottom:10px;'>
              <%= form_tag add_to_list_path, method: 'post' do %>
                <%= hidden_field_tag(:recipe_id, @recipe.id) %>
                <%= submit_tag('Ajouter à ma liste', class: 'btn btn-primary') %>
              <% end %>
            </div>
          <% end %>

          <% if user_signed_in? == false %>
            <div style='margin-bottom:10px;'>
              <a data-toggle="modal" data-target="#exampleModal">
                <%= submit_tag('Ajouter à ma liste', class: 'btn btn-primary') %>
              </a>
            </div>
          <% end %>

          <% if ( user_signed_in? && current_user.rights == 99 ) || ( user_signed_in? && @recipe.user_id == current_user.id ) %>
            <div class='btn-edit-delete'>
              <div style='margin-right:20px'>
                <%= link_to 'Edit', edit_recipe_path(@recipe.id), class: 'btn btn-warning' %>
              </div>
              <div>
                <%= link_to 'Delete', @recipe, class: 'btn btn-danger', remote:true, method: :delete, data: { confirm: 'Non sérieux elle te plait pas ?' } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>





  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Connecte toi!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <%= render "layouts/partials/log_message" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
