<div class='home'>
  <div class='form-total' style='margin-top:35px'>
    <div class='form' style='text-align:center'>
      <h2>Password oublié ?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field" style='margin-top:20px'>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="actions" style='margin-top:20px;padding-bottom:20px'>
          <%= f.submit "Envoyer les infos pour changer de password", class: 'btn btn-info' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
