<div style="height:100%; display: flex; justify-content: center; align-items: center;">
	<div class="form" style="width:50%;">
	  <h1>Editer l'ingrédient <%= @ingredient.name %> </h1>

	  <%= form_for @ingredient do |ing| %>
	    <p><%= ing.text_field :name, placeholder: 'Nom de l\'ingrédient', class:"form-control" %></p>
	    <p><%= ing.text_field :family, placeholder: 'Type de l\'ingrédient', class:"form-control" %></p>
	    <p><%= ing.file_field :picture, placeholder: 'URL de l\'ingrédient', class:"form-control" %></p>
	    <p><%= ing.submit 'Modifier cet ingrédient', class:"form-control btn btn-warning" %></p>
	  <% end %>

	  <p><%= link_to 'Retour aux ingrédients', ingredients_path, class:"btn btn-secondary" %></p>
	</div>
</div>
