<div class="ingredients-g">
  <center class="ingredients-head">
    <div class="ingredient-titre">
        <h3>Ingredients</h3>
      <div class="ingredient-link">
        <p><%= link_to 'Ajouter', new_ingredient_path %></p>
        <p><%= link_to 'retour', admin_path  %></p>
      </div>
    </div>
  	<form  data-remote="true" id="form1" action='<%= ingredients_path %>' accept-charset="UTF-8" method="get">
      <input id='nom' name="nom" placeholder="Rechercher" onkeyup="su()">
      <input id='sub' style="display: none" type="submit">
    </form>
  </center>
  <div class="ingredients-corps">
    <% @ingredients.each do |ingredient| %>
      <div class="card" style="width: 150px;height:150px">
        <img class="card-img-top" src=<%= ingredient.picture_url(:mini) %> alt="Card image cap" style="position: absolute; z-index: 1">
        <center class="card-body" style="z-index:2">
        <h5 class="card-title"><%= ingredient.name %></h5>
        </center>
        <div style="z-index:2 ; display: flex; justify-content: center;opacity: 0.5; align-items: end;">
          <%= link_to 'Edit', edit_ingredient_path(ingredient.id), class:"btn btn-secondary card-link" %>
          <%= link_to 'Delete', ingredient, method: :delete, data: { confirm: 'Certain ?'}, class:"btn btn-primary card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
 
function su()
{
  document.getElementById('sub').click();
}
</script>