<div class="ingredients-g">
  <center class="ingredients-head">
  	<h1>INGREDIENTS</h1>
  	<form  data-remote="true" id="form1" action='<%= ingredients_path %>' accept-charset="UTF-8" method="get">
      <input id='nom' name="nom" placeholder="Rechercher">
      <input type="submit" value="Rechercher">
    </form>
  </center>
  <div class="ingredients-onglet">
  	  <p><%= link_to 'Ajouter', new_ingredient_path , class:"link-control" %></p>
  	  <p><%= link_to 'retour', admin_path , class:"link-control" %></p>
  </div>
  <div class="ingredients-corps"
  <% @ingredients.each do |ingredient| %>
    <p><%= ingredient.id %>. <%= ingredient.name %> - <%= link_to 'Edit', edit_ingredient_path(ingredient.id) %> - <%= link_to 'Delete', ingredient, method: :delete, data: { confirm: 'Certain ?'} %>
  <% end %>
</div>

<script type="text/javascript">
  document.getElementById("nom").focus();
</script>