<div style="height:100%; display: flex; justify-content: center; align-items: center;">
	<div class="form" style="width:50%;">
	  <h1>Ajouter un ingrédient</h1>

	  <%= form_for @ingredient  do |ing| %>
	    <p><%= ing.text_field :name, placeholder: 'Nom de l\'ingrédient', class:"form-control" %></p>
			<p><select name="ingredient[family]" id="ingredient_family" class="form-control" tabindex="9">
				<option selected="selected"  value="autre">Autre</option>
				<option value="boissons">Boissons</option>
				<option value="fruit">Fruit</option>
				<option value="legume">Légume</option>
				<option value="cereales">Céréales</option>
				<option value="feculents">Féculents</option>
				<option value="produits laitiers">Produits laitiers</option>
				<option value="viande">Viande</option>
				<option value="poisson">Poisson</option>
				<option value="corps gras">Corps gras</option>
				<option value="sucre">Sucre</option>
				<option value="epices">Epices</option>
			</select></p>
	    <%= ing.file_field :picture, class:"form-control" %>
	    <p><%= ing.text_field :remote_picture_url, placeholder: 'URL de l\'image', class:"form-control" %></p>
	    <p><%= ing.submit 'Ajouter cet ingrédient', class:"form-control btn btn-warning" %></p>
	  <% end %>
	  <p><%= link_to 'Retour aux ingrédients', ingredients_path, class:"btn btn-secondary" %></p>
	</div>
</div>