<div class="home">
  <div class="form-total" style='margin-top:35px'>
    <div class="form" style='padding-top:15px;text-align:center'>
      <h2>Log in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field" style='margin-top:20px'>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="field" style='margin-top:20px'>
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field" style='margin-top:20px'>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions" style='margin-top:20px;padding-bottom:15px;'>
          <%= f.submit "Log in", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>

    <div class="form" style='margin-top:35px;text-align:center'>
      <h4 style='padding-top:15px'>Sign up</h4>
      <p>Pas de compte ? Inscrit toi et deviens un Cooker</p>
      <p><%= link_to 'Inscris-toi', new_user_registration_path, class: 'btn btn-primary' %></p>
      <center class='btn'><%= render "devise/shared/links" %></center>
    </div>
  </div>
</div>
