<center id="menu" style="display: none"><button onclick="shw()"><%= image_tag 'menu.png' %></button></center>
<div id="masterbar">
	<div id="back" style="display: none" onclick="shw()"><%= image_tag 'back.png', class:'logo-back' %></div>
	<a href=<%= root_path %>>
		<div id="masterbar-head">
			<div><%= image_tag 'logo.png', class:"logo"%></div>
		</div>
	</a>
	<hr class="split">
	<div id="masterbar-navigation">
		<ul>
			<% if user_signed_in? %>
				<li><%= link_to 'Mon profil', profil_path(current_user.id),class:"masterbar-link"%></li>
				<li><%= link_to 'Ma liste de course', liste_path(current_user.id), class:"masterbar-link" %></li>
				<li><%= link_to 'Mon frigo', frigo_path(current_user.id), class:"masterbar-link" %></li>
				<li><%= link_to 'Logout', destroy_user_session_path, method: :delete,class:"masterbar-link" %></li>
			<% else %>
				<li><%= link_to 'LOGIN', new_user_session_path,class:"masterbar-link" %></li>
				<li><%= link_to 'SIGN UP', new_user_registration_path,class:"masterbar-link" %></li>
			<% end %>
		</ul>
	<hr class="split">
		<ul>
			<li><%= link_to 'Recettes', recipes_path,class:"masterbar-link" %></li>

			<% if user_signed_in? && current_user.rights == 99 %>
				<li><%= link_to 'Ingrédient', ingredients_path,class:"masterbar-link" %></li>
			<% end %>

			<% r = Recipe.all.shuffle.first %>
			<% if r %><li><%= link_to 'Recette aléatoire',recipe_path(r.id),class:"masterbar-link"%></li><% end %>
			<li></li>
		</ul>
	</div>
	<hr class="split">
	<div id="masterbar-footer">
		<span><%= link_to 'About', about_path,class:"masterbar-link" %><span>
	</div>
</div>
