<div id="masterbar">
	<a href=<%= root_path %>><div class="masterbar-head">
		<div class="mb1"><%= image_tag 'logo.png', class:"logo" %></div>
		<div class="mb2">Cook'it</div>
	</div></a>
	<hr class="split">
	<div class="masterbar-navigation">
		<ul>
			<% if user_signed_in? %>
				<li><%= link_to 'Admin', admin_path %></li>
				<li><%= link_to 'profil', profil_path(current_user.id) %></li>
				<li><%= link_to 'edit profil', edit_user_registration_path(current_user.id) %></li> 
				<li><%= link_to 'mon frigo', frigo_path(current_user.id) %></li>
				<li><%= link_to 'ma liste', liste_path(current_user.id) %></li>
				<li><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
			<% else %>	
				<li><%= link_to 'login', new_user_session_path %></li>
				<li><a><%= link_to 'sign up', new_user_registration_path %></a></li>
			<% end %>
		</ul>
	<hr class="split">
		<ul>
			<li><%= link_to 'Recette', recipes_path %></li>
			<li><%= link_to 'Ingrédient', ingredients_path %></li>
			<li></li>
		</ul>
	</div>
	<hr class="split">
	<div class="masterbar-footer">
		<center><a href=<%= about_path %>>about</a></center>
	</div>
	<hr class="split">
</div>
